echo "yolov8s.pt" > .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pkl" >> .gitignore
echo "gallery/" >> .gitignore
echo "output/" >> .gitignore
echo "labeled_crops/" >> .gitignore
echo "data/InputData/" >> .gitignore
echo "data/Test_512_512/" >> .gitignore
echo "data/S1/" >> .gitignore
echo "data/S2/" >> .gitignore
echo "data/S3/" >> .gitignore
echo "data/S4/" >> .gitignore
echo "data/S5/" >> .gitignore
echo "data/S6/" >> .gitignore
echo "data/S7/" >> .gitignore